@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.ttf");
}
* {
  margin: 0;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
  color: #cacaca;
  font: normal 18px/1.5 Roboto, sans-serif;
  background-color: #08020d;
}
body h1 {
  font: bold 60px/90px Roboto, sans-serif;
  text-transform: uppercase;
}
@media (max-width: 811px) {
  body h1 {
    font-size: 30px;
    line-height: 45px;
  }
}
body h2 {
  font: bold 38px/57px Roboto, sans-serif;
  text-transform: uppercase;
}
@media (max-width: 811px) {
  body h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

.btn {
  padding: 20px 30px;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn.btn-green {
  background-color: #34C176;
}
.btn.btn-purple {
  background-color: #5328A1;
}
.btn.btn-red {
  background-color: #95390C;
}
.btn.btn-orange {
  background-color: #F89202;
}
.btn.btn-outlined {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #FFFFFF;
}
.btn.btn-rounded {
  border-radius: 32px;
}

.input {
  box-sizing: border-box;
  padding: 16px 20px 18px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #CACACA;
  border-radius: 3px;
  outline: none;
}
.input::placeholder {
  color: #FFFFFF;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.t-uppercase {
  text-transform: uppercase;
}

.header {
  position: absolute;
  top: 25px;
  width: 100%;
  height: 25px;
  line-height: 13px;
  font-size: 11px;
  text-transform: uppercase;
}
.header .header-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: min-content 1fr 1fr;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1239px) {
  .header .header-row {
    margin: 0 25px;
  }
}
@media (max-width: 811px) {
  .header .header-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 18px;
    height: auto;
    margin: 0 25px;
  }
}
.header .header-row .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98px;
  margin-right: 90px;
}
.header .header-row .heading .heading-logo {
  height: 24px;
  width: 24px;
  background-size: cover;
  background-image: url("../images/logo.svg");
}
.header .header-row .heading .heading-text {
  font-weight: bold;
  color: #FFFFFF;
}
.header .header-row .nav .list {
  display: flex;
  column-gap: 24px;
  justify-self: left;
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (max-width: 811px) {
  .header .header-row .nav .list {
    flex-direction: column;
    row-gap: 3px;
  }
}
.header .header-row .nav .list .list-item {
  font-weight: bold;
  cursor: pointer;
}
.header .header-row .nav .list .list-item .active {
  color: #FFFFFF;
}
.header .header-row .search {
  justify-self: end;
  box-sizing: border-box;
  width: 248px;
  height: 100%;
}
@media (max-width: 811px) {
  .header .header-row .search {
    width: 100%;
  }
}
.header .header-row .search .search-input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: #3C3B3D;
}
.header .header-row .search .search-input::placeholder {
  font-size: 13px;
  line-height: 15;
  color: #757575;
  text-transform: uppercase;
}

.description {
  padding: 200px 0;
  color: #FFFFFF;
  text-align: center;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 1239px) {
  .description {
    padding: 250px 25px 200px;
  }
}
.description .subtitle {
  margin-bottom: 31px;
}
.description .text {
  font-size: 16px;
  margin-bottom: 17px;
}
.description .form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  max-width: 570px;
  margin: 0 auto;
}
.description .form .input {
  flex: 1 0 30%;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
}
@media (max-width: 811px) {
  .description .form .input {
    flex-basis: 100%;
  }
}
.description .form .btn {
  flex: 1 0 100%;
}

/*# sourceMappingURL=style.css.map */
