@font-face {
  font-weight: normal;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
  font-weight: bold;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #cacaca;
  text-decoration: none;
  list-style: none;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  font: normal 18px/1.5 Roboto, sans-serif;
  background-color: #08020d;
}
body h1 {
  color: #fff;
  font: bold 60px/90px Roboto, sans-serif;
  text-transform: uppercase;
}
@media (max-width: 811px) {
  body h1 {
    font-size: 30px;
    line-height: 45px;
  }
}
body h2 {
  color: #fff;
  font: bold 38px/57px Roboto, sans-serif;
  text-transform: uppercase;
}
@media (max-width: 811px) {
  body h2 {
    font-size: 18px;
    line-height: 27px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;
}
@media (max-width: 1239px) {
  .container {
    max-width: 100%;
    margin: 0;
    padding: 100px 20px 0;
  }
}
.container .container-title {
  margin-bottom: 50px;
}

.btn {
  padding: 20px 30px;
  color: white;
  font-size: 12.8px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.btn.btn-green {
  background-color: #34c176;
}
.btn.btn-purple {
  background-color: #5328a1;
}
.btn.btn-red {
  background-color: #95390c;
}
.btn.btn-orange {
  background-color: #f89202;
}
.btn.btn-outlined {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #fff;
}
.btn.btn-rounded {
  border-radius: 32px;
}
.btn.btn-small {
  padding: 16px 30px;
}

.input {
  box-sizing: border-box;
  padding: 16px 20px 18px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #cacaca;
  border-radius: 3px;
  outline: none;
}
.input::placeholder {
  color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.t-uppercase {
  text-transform: uppercase;
}

.header {
  position: absolute;
  top: 25px;
  width: 100%;
  height: 25px;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
}
.header .header-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: min-content 1fr 1fr;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1239px) {
  .header .header-row {
    margin: 0 25px;
  }
}
@media (max-width: 811px) {
  .header .header-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin: 0 25px;
    row-gap: 18px;
  }
}
.header .header-row .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98px;
  margin-right: 90px;
}
.header .header-row .heading .heading-logo {
  width: 24px;
  height: 24px;
  background-image: url("../images/logo.svg");
  background-size: cover;
}
.header .header-row .heading .heading-text {
  color: #fff;
  font-weight: bold;
}
.header .header-row .nav .list {
  display: flex;
  justify-self: left;
  margin: 0;
  padding: 0;
  column-gap: 24px;
  list-style: none;
}
@media (max-width: 811px) {
  .header .header-row .nav .list {
    flex-direction: column;
    row-gap: 3px;
  }
}
.header .header-row .nav .list .list-item {
  font-weight: bold;
  cursor: pointer;
}
.header .header-row .nav .list .list-item .active {
  color: #fff;
}
.header .header-row .search {
  justify-self: end;
  box-sizing: border-box;
  width: 248px;
  height: 100%;
}
@media (max-width: 811px) {
  .header .header-row .search {
    width: 100%;
  }
}
.header .header-row .search .search-input {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  background-color: #3c3b3d;
  border: none;
  border-radius: 50px;
  outline: none;
}
.header .header-row .search .search-input::placeholder {
  color: #757575;
  font-size: 13px;
  line-height: 15;
  text-transform: uppercase;
}

.footer {
  font-size: 16px;
}
.footer.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer hr {
  border: 1px solid #cacaca;
}
.footer .links {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media (max-width: 811px) {
  .footer .links {
    flex-direction: column;
    gap: 30px;
  }
}
.footer .links .col {
  width: 270px;
}
.footer .links .col .col-title {
  margin-bottom: 15px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-transform: uppercase;
}
.footer .links .col .list-item {
  line-height: 24px;
  cursor: pointer;
}
.footer .links .col .list-icons {
  display: flex;
  column-gap: 24px;
}
.footer .main-links {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media (max-width: 811px) {
  .footer .main-links {
    flex-direction: column;
  }
}

.description {
  padding: 200px 0;
  color: #fff;
  text-align: center;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
@media (max-width: 1239px) {
  .description {
    padding: 250px 25px 200px;
  }
}
.description .subtitle {
  margin-bottom: 31px;
}
.description .text {
  margin-bottom: 17px;
  font-size: 16px;
}
.description .form {
  display: flex;
  flex-wrap: wrap;
  max-width: 570px;
  margin: 0 auto;
  column-gap: 24px;
}
.description .form .input {
  flex: 1 0 30%;
  min-width: 270px;
  min-height: 50px;
  margin-bottom: 1.5rem;
}
@media (max-width: 811px) {
  .description .form .input {
    flex-basis: 100%;
  }
}
.description .form .btn {
  flex: 1 0 100%;
}

.pricing {
  text-align: center;
}
.pricing .pricing-cards {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
}
@media (max-width: 811px) {
  .pricing .pricing-cards {
    flex-direction: column;
  }
}
.pricing .pricing-cards .card {
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 13px;
  border-radius: 1rem;
}
.pricing .pricing-cards .card.card-bg-1 {
  background-image: url("../images/subscribe_1.png");
  background-position: center;
  background-size: cover;
}
.pricing .pricing-cards .card.card-bg-2 {
  background-image: url("../images/subscribe_2.png");
  background-position: center;
  background-size: cover;
}
.pricing .pricing-cards .card.card-bg-3 {
  background-image: url("../images/subscribe_3.png");
  background-position: center;
  background-size: cover;
}
.pricing .pricing-cards .card .card-title {
  margin: 24px 0 200px;
  color: #fff;
  font-weight: normal;
  font-size: 24px;
  text-transform: uppercase;
}
.pricing .pricing-cards .card .card-price {
  margin-bottom: 40px;
  color: #fff;
  font-size: 64px;
  line-height: 48px;
}
.pricing .pricing-cards .card .card-price .currency {
  position: relative;
  bottom: 20px;
  color: #fff;
  font-size: 32px;
  line-height: 1em;
  text-transform: uppercase;
}
.pricing .pricing-cards .card .card-description {
  margin-bottom: 65px;
}
.pricing .pricing-cards .card .card-btn {
  margin-bottom: 65px;
}
.pricing .pricing-description {
  margin-top: 40px;
  color: #fff;
  font-size: 16px;
}
@media (max-width: 811px) {
  .pricing .pricing-description {
    margin-top: 20px;
  }
}

.news .news-title {
  text-align: center;
}
.news .news-item {
  display: flex;
  flex-direction: row;
  gap: 50px;
  min-height: min-content;
  margin-bottom: 65px;
}
.news .news-item.reversed {
  flex-direction: row-reverse;
}
@media (max-width: 1239px) {
  .news .news-item {
    flex-direction: column;
  }
  .news .news-item.reversed {
    flex-direction: column;
  }
}
.news .news-item .item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news .news-item .item-content .content-body {
  display: flex;
  flex-direction: column;
  min-height: max-content;
}
.news .news-item .item-content .content-body h3 {
  margin-bottom: 30px;
  color: #fff;
  font-weight: normal;
  font-size: 30px;
  line-height: 45px;
}
.news .news-item .item-content .content-body p {
  font-size: 16px;
}
@media (max-width: 1239px) {
  .news .news-item .item-content .content-body {
    margin-bottom: 25px;
  }
}
.news .news-item .item-content .content-footer {
  display: flex;
  flex-direction: column;
}
.news .news-item .item-content .content-footer .author {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 50px;
  font-size: 12px;
}
.news .news-item .item-content .content-footer .author .name {
  color: #f89202;
  text-transform: uppercase;
}
.news .news-item .item-content .content-footer .btn {
  width: max-content;
}

.app .app-title {
  text-align: center;
}
.app .app-content {
  display: flex;
  flex-direction: row;
  row-gap: 15px;
  justify-content: space-between;
  margin-bottom: 100px;
}
@media (max-width: 1239px) {
  .app .app-content {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.app .app-content p {
  margin-bottom: 15px;
}
.app .app-content .img {
  display: flex;
  flex: 1 1 45%;
  justify-content: center;
}
.app .app-content .text {
  flex: 1 1 55%;
  margin-top: 15px;
}
.app .app-content .text .btn {
  display: inline-block;
  margin-top: 15px;
  padding: 16px 40px;
}

.artist {
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}
.artist .container {
  padding-top: 0;
  padding-bottom: 0;
}
.artist .artist-name {
  margin-bottom: 15px;
}
.artist .artist-comment {
  margin-bottom: 50px;
  color: #fff;
  font-size: 16px;
}
.artist .buttons {
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 1239px) {
  .artist .buttons {
    flex-direction: column;
  }
}
.artist .buttons .btn {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 200px;
}
.artist .buttons .btn img {
  height: 20px;
  width: 20px;
  filter: invert(1);
  -webkit-filter: invert(1);
}

/*# sourceMappingURL=style.css.map */
