.app {
  .app-title {
    text-align: center;
  }

  .app-content {
    display: flex;
    row-gap: 15px;

    margin-bottom: 100px;

    @include media(small) {
      flex-direction: column-reverse;
    }

    .text {
      flex-basis: 50%;
      margin-top: 16px;

      @include media(medium) {
        margin-top: 0;
      }

      p {
        margin-bottom: 16px;

        font-size: 16px;
      }

      .btn {
        display: inline-block;
        padding: 16px 40px;
      }
    }

    .img {
      display: flex;
      flex-basis: 50%;
      justify-content: center;
    }
  }
}
