.description {
  padding: 200px 0;

  color: $white;
  text-align: center;

  @include image(banner);

  @include media (medium) {
    padding: 250px 25px 200px;
  }

  .subtitle {
    margin-bottom: 31px;
  }

  .text {
    margin-bottom: 17px;

    font-size: 16px;
  }

  .form {
    display: flex;
    flex-wrap: wrap;

    max-width: 570px;
    margin: 0 auto;

    column-gap: 24px;

    .input {
      flex: 1 0 30%;
      min-width: 270px;
      min-height: 50px;

      margin-bottom: 1.5rem;

      @include media (small) {
        flex-basis: 100%;
      }
    }

    .btn {
      flex: 1 0 100%;
    }
  }
}
