@use "sass:map";

.footer {
  font-size: 16px;

  &.bg-gradient {
    background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
  }

  hr {
    border: 1px solid $dark-grey;
  }

  .links {
    display: flex;
    justify-content: space-between;

    @include py(3rem);

    @include media(small) {
      flex-direction: column;
      gap: 30px;
    }

    .col {
      width: 270px;

      .col-title {
        margin-bottom: 15px;

        color: $white;
        font-weight: bold;
        font-size: 18px;
        line-height: 27px;
        text-transform: uppercase;
      }

      .list-item {
        line-height: 24px;

        cursor: pointer;
      }

      .list-icons {
        display: flex;

        column-gap: 24px;
      }
    }
  }

  .main-links {
    display: flex;
    flex-direction: row;
    gap: 16px;

    @include py(2rem);

    @include media(small) {
      flex-direction: column;
    }
  }
}
