@font-face {
  font-family: Roboto;
  font-weight: normal;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url("../fonts/Roboto-Bold.ttf");
}

* {
  margin: 0;
}

body {
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;

  color: #cacaca;
  font: normal 18px/1.5 Roboto, sans-serif;  

  background-color: #08020d;

  h1 {
    font: bold 60px/90px Roboto, sans-serif; 
    text-transform: uppercase;

    @media (max-width: 811px) {
      font-size: 30px;
      line-height: 45px;
    }
  }

  h2 {
    font: bold 38px/57px Roboto, sans-serif; 
    text-transform: uppercase;

    @media (max-width: 811px) {
      font-size: 18px;
      line-height: 27px;
    }
  }
}


d-grid {
  display: grid;

  @for $i from 1 through 12 {
    .span-#{i} {
      grid-template-columns: span i;
    }
  }
}

.d-flex {
  display: flex;

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.fd-column {
    flex-direction: column;
  }

  &.fd-row {
    flex-direction: row;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}