@use "sass:map";

@font-face {
  font-weight: normal;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: bold;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: #cacaca;
  text-decoration: none;

  list-style: none;
}

body {
  min-height: 100%;
  overflow-x: hidden;

  font: normal 18px/1.5 Roboto, sans-serif;

  background-color: #08020d;

  h1 {
    color: $white;
    font: bold 60px/90px Roboto, sans-serif;
    text-transform: uppercase;

    @media (max-width: 811px) {
      font-size: 30px;
      line-height: 45px;
    }
  }

  h2 {
    color: $white;
    font: bold 38px/57px Roboto, sans-serif;
    text-transform: uppercase;

    @media (max-width: 811px) {
      font-size: 18px;
      line-height: 27px;
    }
  }
}

@mixin image($image-name) {
  background-image: url("../images/#{$image-name}.png");
  background-position: center;
  background-size: cover;
}

@mixin px($num) {
  padding-right: $num;
  padding-left: $num;
}

@mixin py($num) {
  padding-top: $num;
  padding-bottom: $num;
}

@mixin mx($num) {
  margin-right: $num;
  margin-left: $num;
}

@mixin my($num) {
  margin-top: $num;
  margin-bottom: $num;
}

@mixin media($breakpoint: small) {
  @media (max-width: map.get($breakpoints, $breakpoint)) {
    @content;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px;

  @include media(medium) {
    max-width: 100%;
    margin: 0;
    padding: 100px 20px 0;
  }

  .container-title {
    margin-bottom: 50px;
  }
}

.btn {
  padding: 20px 30px;

  color: white;

  font-size: 13px;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;

  outline: none;
  cursor: pointer;

  @each $name, $color in $secondary-colors {
    &.btn-#{$name} {
      background-color: $color;
    }
  }

  &.btn-outlined {
    background-color: rgba($color: $white, $alpha: 0%);
    border: 1px solid $white;
  }

  &.btn-rounded {
    border-radius: 32px;
  }

  &.btn-small {
    padding: 16px 30px;
  }
}

.input {
  box-sizing: border-box;
  padding: 16px 20px 18px;

  color: $white;

  background-color: rgba($color: $white, $alpha: 0%);
  border: 2px solid $dark-grey;
  border-radius: 3px;
  outline: none;

  &::placeholder {
    color: $white;
  }
}

.sr-only {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.t-uppercase {
  text-transform: uppercase;
}
