.header {
  position: absolute;

  top: 25px;
  width: 100%;
  height: 25px;

  line-height: 13px;
  font-size: 11px;
  text-transform: uppercase;

  .header-row {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: min-content 1fr 1fr;

    align-items: center;

    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 1239px) {
      margin: 0 25px;
    }

    @media (max-width: 811px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 18px;

      height: auto;
      margin: 0 25px;
    }

    .heading {  
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      width: 98px;
      margin-right: 90px;
  
      .heading-logo {
        height: 24px;
        width: 24px;
  
        background-size: cover;
        background-image: url("../images/logo.svg");
      }
  
      .heading-text {
        font-weight: bold;
        color: $white;
      }
  
    }
  
    .nav {
      .list {
        display: flex;
        column-gap: 24px;
        justify-self: left;
  
        margin: 0;
        padding: 0;
  
        list-style: none;

        @media (max-width: 811px) {
          flex-direction: column;
          row-gap: 3px;
        }
        
        .list-item {
          font-weight: bold;
    
          cursor: pointer;
    
          .active {
            color: $white;
          }
        }
      }
    }
  
    .search {
      justify-self: end;
  
      box-sizing: border-box;
      width: 248px;
      height: 100%;

      @media (max-width: 811px) {
        width: 100%;
      }
  
      .search-input {
        box-sizing: border-box;
        width: 100%;
        padding: 5px 10px;
  
        outline: none;
        border: none;
        border-radius: 50px;
        background-color: #3C3B3D;
  
        &::placeholder {
          font-size: 13px;
          line-height: 15;
          color: #757575;
          text-transform: uppercase;
        }
      }
    }
  }
}