.news {
  .news-title {
    text-align: center;
  }

  .news-list {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
  }

  .news-item {
    display: flex;
    flex-direction: row;
    gap: 50px;

    &.reversed {
      flex-direction: row-reverse;
    }

    .item-img {
      height: 286px;
    }

    @include media(small) {
      flex-direction: column;

      &.reversed {
        flex-direction: column;
      }

      .item-img {
        width: 100%;
        height: auto;
      }
    }

    .item-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .content-body {
        display: flex;
        flex-direction: column;
        min-height: max-content;

        h3 {
          margin-bottom: 30px;

          color: $white;
          font-weight: normal;
          font-size: 30px;
          text-transform: capitalize;

          @include media(small) {
            margin-bottom: 16px;

            font-size: 16px;
          }
        }

        p {
          font-size: 16px;
        }

        @include media(medium) {
          margin-bottom: 25px;
        }
      }

      .content-footer {
        display: flex;
        flex-direction: column;

        .author {
          display: flex;
          gap: 16px;
          align-items: center;

          margin-bottom: 48px;

          font-size: 12px;

          .name {
            color: $orange;
            text-transform: uppercase;
          }
        }

        .btn {
          display: block;

          width: max-content;
          margin-bottom: 28px;

          @include media(small) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
