.pricing {
  text-align: center;

  .pricing-cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;

    @include media(small) {
      flex-direction: column;
    }

    .card {
      display: flex;
      flex-direction: column;

      @include px(1.5rem);

      font-size: 12.8px;

      border-radius: 1rem;

      @for $num from 1 to 4 {
        &.card-bg-#{$num} {
          @include image(subscribe_#{$num});
        }
      }

      .card-title {
        margin: 24px 0 200px;

        color: $white;
        font-weight: normal;
        font-size: 24px;
        text-transform: uppercase;

        @include media(small) {
          margin-top: 16px;

          font-size: 16px;
        }
      }

      .card-price {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: flex-start;
        justify-content: center;

        margin-bottom: 40px;

        color: $white;
        font-size: 64px;
        line-height: 1em;

        .currency {
          color: $white;
          font-size: 32px;
          line-height: 1.5em;
          text-transform: uppercase;
        }
      }

      .card-description {
        margin: 64px 0;
      }
    }
  }

  .btn {
    font-size: 16px;
  }

  .pricing-description {
    margin-top: 43px;

    color: $white;
    font-size: 16px;

    @include media(small) {
      margin-top: 20px;
    }
  }
}
