$mobile: false;
$black: #08020d;
$white: #fff;
$light-grey: #e0e0e0;
$dark-grey: #cacaca;
$green: #34c176;
$purple: #5328a1;
$red: #95390c;
$orange: #f89202;
$secondary-colors: (green: $green, purple: $purple, red: $red, orange: $orange);
$breakpoints: (medium: 1239px, small: 811px);
